<html>
<head>
    <title>Login and Registration</title>
</head>
<body>
<div>
    <h1>Please Login or Register</h1>
    <form action='/reg' method='post'>Register</br>
        First Name:<input type='text' name='first_name'></br>
        Last Name:<input type='text' name='last_name'></br>
        Email:<input type='email' name='email'></br>
        Password:<input type='password' name='pwd'></br>
        Confirm Password:<input type='password' name='pwdconf'>
        <button type='submit'>Submit</br>
    </form>  
</div>
<div>  
    <form action='/login' method='post'>Login
        Email<input type='email' name='email'>
        Password<input type'password' name='password'>
        <button type='submit'>Submit
    </form>
</div>
</body>
</html>